<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<!-- Code taken from https://github.com/krishnaik06/Deployment-flask/blob/master/templates/index.html-->

<head>
  <meta charset="UTF-8">
  <title>ML API</title>
  <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>


</head>

<body>
 <div class="login">
	<h1>Predict whether NEWS HEADLINE is sacastic or not</h1>
	 <p>Dataset <a href="https://www.kaggle.com/rmisra/news-headlines-dataset-for-sarcasm-detection" target="_blank" rel="noopener noreferrer">link</a></p>
	 <p>medium blog <a href="https://binginagesh.medium.com/identifying-sarcastic-headlines-cf4a7c2382f9" target="_blank" rel="noopener noreferrer">link</a></p>
	 <p>Github code <a href="https://github.com/nagi1995/sarcastic-comment-detection" target="_blank" rel="noopener noreferrer">link</a></p>
	 

     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('predict')}}" method="post">
    	<input type="text" name="text" placeholder="text" required="required" />
        
        <button type="submit" class="btn btn-primary btn-block btn-large">Predict</button>
    </form>

   <br>
   <br>
   {{ prediction_text }}

 </div>


</body>
</html>